<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

        </script>
    </head>
    <body style="background-image:url('./images/background.jpg')">
        <div class="main_content">
            {{>header}}
            <h4>Use this site to get your weather</h4>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
            <p id="message-3"></p>
            
        </div>
        
        
        {{>footer}}
        <script type="text/javascript" src="/js/exe.js"></script>
    </body>
</html>